name: Run Tests & Publish Allure Report

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y allure

      - name: Run tests
        run: mvn clean test

      - name: Generate Allure report
        run: allure generate target/allure-results --clean -o target/allure-report

      - name: Upload report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/allure-report